<!-- Put into flash alerts in sentences controller -->

<!-- <% if @sentence.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

  <ul>
    <% @sentence.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %> -->

<%= form_for [@story, @sentence], html: { multipart: true } do |f| %>
  <%= f.file_field :asset %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
