<h1><%= @story.title %></h1>
<h4>Created by <%= @user.username %></h4>

<%= image_tag @story.asset.url(:medium) %>

<% if @story.sentences.any? %>
  <% @story.sentences.each do |sentence| %>
    <%= sentence.content %>
    <br>
    created by <%= sentence.user.username %>
    <br>
    <br>
    <div class="image"><%= image_tag sentence.asset.url %></div>
  <% end %>

  <!-- <%= image_tag @story.sentences.last.asset.url %> -->
  <br>
  <br>
  <br>
  <% if user_signed_in? %>
    <p>Add to the story!<p>
    <%= render "sentences/form" %>
  <% end %>
  <br>
  <br>
  <br>

<% else %>
  <p>
    This lib needs more rad. Write the first sentence:
  </p>
  <% if user_signed_in? %>
    <%= render "sentences/form" %>
  <% end %>
<% end %>

<% if current_user == @story.user %>
  <p><%= link_to "Delete", story_path(@story),
  :data => {:confirm => "You sure?",
    :method => "delete"} %></p>
<% end %>
